<nav>
  <button class="button"   routerLink="/login"   style="vertical-align:middle"><span>Salir</span></button>
  <button class="button1"  routerLink="/cargar" style="vertical-align:middle"><span>Certificado</span></button>
  <button class="button2"  routerLink="/jira" style="vertical-align:middle"><span>Jira</span></button>
  <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Buscar">
      <button type="submit" class="searchButton"><i class="material-icons">search</i></button>
   </div>
</div>
</nav>
<link rel="stylesheet" media="(max-width: 900px)" href="/AppGTT/appGtt/src/app/navbar/navbar.component.scss" />

